.App
{
  height: 100%;
  overflow: hidden;
}

.mainHeader
{
  background: #1b5098;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;

  .inboxCounter { margin-left: 20px; }

  .dropdown { margin-left: auto; }
}

.mainContent
{
  background: #eee;
	position: relative;

  .messagesList,
  .messagesView
  {
    height: calc(100vh - 50px);
    overflow: auto;
  }
}

@media screen and (min-width: 768px)
{
  .mainContent
  {
    display: flex;
  }
}
